:root {
  --bgc-color-white: #e5e5e5;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --paragraf-color: #757575;
  --bot-contact-rgb: rgba(255, 255, 255, 0.6);
  --footer-color: #2f303a;
  --main-font: Roboto;
}
body {
  font-family: Roboto, sans-serif;
  background-color: var(--bgc-color-white);
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header */
.header {
  background-color: #ffffff;
}

.logo-top,
.logo-bot,
.web {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-bot {
  color: #ffffff;
}
.web {
  color: var(--accent-color);
}

/* Main Nav */

.navigation .nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--accent-color);
}

/* Contact */
.top-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraf-color);
}

.top-contact:hover,
.top-contact:focus {
  color: var(--accent-color);
}

/* title-section */
.first-sec {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background-color: var(--footer-color);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  text-align: center;
}
.btn.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: var(--accent-color);
  color: var(--bgc-color-white);
}

.btn.secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
}
.btn.secondary:hover,
.btn.secondary:focus {
  background-color: var(--accent-color);
  color: var(--bgc-color-white);
}

/* advantages */
.adv-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color-black);
}
.adv-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--paragraf-color);
}
/* Our-work */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Our Team */
.names {
  background-color: #f5f4fa;
}

/* Footer */

.footer {
  background-color: var(--footer-color);
}

.main-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--bot-contact-rgb);
}
.street {
  color: #ffffff;
}

.bot-contact:hover,
.bot-contact:focus {
  color: var(--accent-color);
}

/* portfolio title */
.prt-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/* portfolio text */
.prt-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--paragraf-color);
}
